
.dashboard-header {
    text-align: center;
    

    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}

.text-2xl {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ec4899;
}
.title_box{
    height: 20%;
}
.date-selection {
    display: flex;

    justify-content: center;
    height: 40%;

    width: 100%;
    align-items: center;
}
.content{
    height: 100%;
    width: 80%;
    
}
.dashboard-wrapper{
    background-color: orange;
    height: 20%;
    width: 100%;
}

.font-bold {
    font-weight: bold;
    color: #ec4899;
}

.p-2 {
   
    border: 1px solid #ec4899;
    border-radius: 0.25rem;
}
.dashboard-container{
    height: 80%;
    width: 100%;


}
/*.dashboard-container {*/
/*    background-color: #fce7f3;*/
/*    padding: 1rem;*/
/*    border-radius: 0.5rem;*/
/*    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
/*    width: 80%;*/
/*    max-width: 64rem;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.loading-message {
    color: #ec4899;
    font-weight: bold;
}

.error-message {
    color: #ef4444;
    font-weight: bold;
}

.kpi-data {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50%;
    margin-bottom: 1rem;
    text-align: center; /* Centraliza o texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    box-sizing: border-box;
}

.kpi-data p {
    text-align: center; /* Garante que o texto dentro dos parágrafos fique centralizado */
    width: 100%;
    margin: 0; /* Remove margens que podem estar desalinhando */
}


.text-xl {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ec4899;
    margin-bottom: 0.5rem;
}

.charts {
    width: 100%;
    height: 90%;

}
#title_chart_box{
    height: 10%;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 0 10%;
    box-sizing: border-box;
}

.text-lg {
    font-size: 1.125rem;
    font-weight: bold;
    color: #ec4899;

}

.text-sm {
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}


.row-chart{
    height: 44%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.kpi-header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

