:root {
    --bg-1: #FFF7FB;
    --rosa-1: #EF44A1;
}

.predict {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-1);


}

.content-predict {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 80%;

}

.column-predict {

    height: 100%;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#icon-car {
    height: 20%;
    width: 85%;
    box-shadow: 4px 10px 10px rgb(184, 184, 184);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-1);
}



#name-model {
    height: 15%;
    width: 85%;
    box-shadow: 4px 10px 10px rgb(184, 184, 184);
    border-radius: 16px;
    background-color: var(--bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#graphicBox {
    height: 55%;
    width: 85%;
    box-shadow: 4px 10px 10px rgb(184, 184, 184);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-1);
}

#form {
    width: 66.7%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column-predict-form {

    width: 50%;


}

#title-box {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#selects-box {
    height: 80%;
    width: 100%;
}

.column-predict-form:nth-child(1) {
    align-items: center;


}

.column-predict-form:nth-child(2) {
    align-items: center;
    justify-content: center;
}

.label-box {
    color: var(--rosa-1);
}

.option-box button {
    height: 70%;
    width: 90%;
    background-color: #EF44A1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0;
    box-shadow: 4px 10px 10px rgb(184, 184, 184);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.option-box button:hover {
    transform: translateY(10px);
    background-color: #ff96ce;
    color: #80094a;
}

.option-box {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
#second_part_col_opt .option-box{
    height: 16%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}
.label-box {
    height: 25%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.option-box select {
    box-shadow: 4px 10px 10px rgb(184, 184, 184);
    width: 90%;
    color: rgb(82, 82, 82);
}

.option-box input {

    border: 2px solid #EF44A1;
    /* border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 0; */
    outline: 0;
    width: 90%;
    padding: 5px 10px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    /* box-shadow: 4px 10px 10px rgb(184, 184, 184); */

}

.column-predict-form:nth-child(2) .option-box {
    position: relative;
    height: 20%;
    width: 90%;

}

.column-predict-form:nth-child(2) .option-box label {
    color: rgb(94, 94, 94);
    position: absolute;
    left: 20px;
    top: 50px;
    pointer-events: none;
    transition: 0.3s;
    font-size: 15px;
}

.column-predict-form:nth-child(2) .option-box input:focus~label,
.column-predict-form:nth-child(2) .option-box input:not(:placeholder-shown)~label {
    margin-top: -25px;
    margin-left: 15%;
    font-size: 12px;
}


.icon-font {
    margin-left: -80%;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.half-donut {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(#EF44A1 0deg 200deg,
            #FFCFE9 180deg 360deg);
    mask: radial-gradient(circle, transparent 40%, black 41%);
    -webkit-mask: radial-gradient(circle, transparent 40%, black 41%);
}


























#switch_box{
    height: 50%;
    width: 10%;

    background-color: #F0F0F0;
    position: relative;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgb(201, 201, 201);
    cursor: pointer;
   
}

#switch{
    height: 100%;
    width: 40%;
    border-radius: 50%;
    background-color: #FA8FB1;
    box-shadow: 4px 4px 10px rgb(201, 201, 201);
    transition: 0.3s;
}


#main_predict{
    height: 100%;
    width: 100%;

}

#title-box-predict{
    color: #FA8FB1;
    display: flex;
    gap: 3em;
    height: 10%;
    align-items: center;
    justify-content: center;
    
    font-size: clamp(20px,5vh,35px);
}

#switch_container{
    width: 100%;
    height: 10%;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10%;
    gap: 3em;
}
#switch_container span{
    font-weight: 600;
}

#icon-info{
    height: 30px;
    width: 30px;
    background-color: #d98cb3;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

#main_predict #form{
    height: 80%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#selects-box{
    width: 10%;

    height: 100%;
}

.option-box{

    height: 20%;
}
.col_options_form{
    height: 100%;
    width: 35%;
   
}
#second_part_col_opt{
    height: 100%;
    width: 35%;
  
}

.result-box{
    width: 100%;
    background-color: white;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgb(175, 175, 175);
    border-radius: 10px;
    gap: 1em;
}

.result-box span:nth-child(1){
    color: #e60073;
    font-weight: 700;
}
.result-box span:nth-child(2){
    color: #EF44A1;
}