.tooltip-container {
    position: relative;
    display: inline-block;
}

.icon-info {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ec4899;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Oculta o tooltip por padrão */
.tooltip {
    display: none;
    position: absolute;
    top: 50%; /* Alinha verticalmente no meio do ícone */
     /* Coloca o tooltip à direita do ícone */
    transform: translateY(-50%); /* Centraliza o tooltip verticalmente em relação ao ícone */
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 300px;
    z-index: 10;
    width: auto;
    min-width: 200px;
    max-height: 200px;
    overflow: visible;
    margin-left: 200%;
}

/* Exibe o tooltip ao passar o mouse no ícone */
.tooltip-container:hover .tooltip {
    display: block;
}

/* Responsivo: Se a posição do ícone estiver perto da borda direita, exibe o tooltip à esquerda */
.tooltip-container:hover .tooltip {
    left: auto;
    margin-left: 110%; /* Coloca o tooltip à esquerda do ícone */

}