.content{
    height: 100%;
    width: 80%;

}
/* Deixa os ícones rosa */
.icon-pink {
    color: #ec4899;
}

/* Mantém os seletores de mês e ano no topo */
#data_box {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px; /* Ajuste para colar abaixo do título */
}

/* Alinha os campos de mês e ano verticalmente */
.inpt_label_field {
    display: flex;
    flex-direction: column;
}

.inpt_label_field input {
    width: 100px;
    padding: 5px;
    font-size: 14px;
}

/* Estiliza o título */
#title_box span {
    font-size: 1.5rem;
    color: #ec4899;
}

/* Estiliza a área de insights */
.insights {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Define a cor do título dos insights */
.insights h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #ec4899;
}

/* Ajustar a lista de insights para ocupar toda a largura disponível */
.insights ul {
    width: 100%;
    max-width: 800px; /* Define uma largura máxima para não ficar muito espalhado */
    margin: 0 auto; /* Centraliza a lista */
    padding: 0;

    display: block; /* Garante que a lista não seja flexível */
}

/* Garantir que cada insight fique um abaixo do outro */
.insights li {
    display: block; /* Garante que cada li ocupe uma linha inteira */
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}
