@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  left: 0;
  margin: 0;
}
:root{
  --bg-color:#fff7fb;
  --header-color:#ffcfe9;
  --btn-color:#ef44a1;
}

section{
  height: 100vh;
  width: 100%;

}

header{
  height: 5em;
  width: 100%;
  background-color: var(--header-color);
  position: fixed;
}
.inpt_list{
  display: block;
}

.footer-content {
  background-color: var(--header-color); /* Use the same color as the header */
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos no eixo horizontal */
  justify-content: center; /* Centraliza no eixo vertical (se necessário) */
  height: 100%; /* Garante que ocupa toda a altura disponível */
  text-align: center;
}

.footer-content p {
  margin: 0; /* Remove margens indesejadas */
  text-align: center;
}