
*{
  padding: 0;
  left: 0;
  margin: 0;
}
:root{
  --bg-color:#fff7fb;
  --header-color:#ffcfe9;
  --btn-color:#ef44a1;
}

section{
  height: 100vh;
  width: 100%;

}

header{
  height: 5em;
  width: 100%;
  background-color: var(--header-color);
  position: fixed;
}
.inpt_list{
  display: block;
}